<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>RegController</servlet-name>
        <servlet-class>controller.RegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubscription</servlet-name>
        <servlet-class>controller.AddSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>controller.AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriptions</servlet-name>
        <servlet-class>controller.DeleteSubscriptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSubscriptions</servlet-name>
        <servlet-class>controller.FetchSubscriptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogger</servlet-name>
        <servlet-class>controller.AdminLogger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchContactDetails</servlet-name>
        <servlet-class>controller.FetchContactDetails</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>FetchUserData</servlet-name>
        <servlet-class>controller.FetchUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchProjectDetails</servlet-name>
        <servlet-class>controller.FetchProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>controller.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProjectDetails</servlet-name>
        <servlet-class>controller.EditProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectsServlet</servlet-name>
        <servlet-class>controller.DeleteProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectsServlet</servlet-name>
        <servlet-class>controller.AddProjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegController</servlet-name>
        <url-pattern>/RegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubscription</servlet-name>
        <url-pattern>/AddSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriptions</servlet-name>
        <url-pattern>/DeleteSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSubscriptions</servlet-name>
        <url-pattern>/FetchSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogger</servlet-name>
        <url-pattern>/AdminLogger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchContactDetails</servlet-name>
        <url-pattern>/FetchContactDetails</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>FetchUserData</servlet-name>
        <url-pattern>/FetchUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchProjectDetails</servlet-name>
        <url-pattern>/FetchProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProjectDetails</servlet-name>
        <url-pattern>/EditProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectsServlet</servlet-name>
        <url-pattern>/DeleteProjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectsServlet</servlet-name>
        <url-pattern>/AddProjectsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>registration.html</welcome-file>
    </welcome-file-list>
</web-app>
