<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>RegController</servlet-name>
        <servlet-class>controller.RegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubscription</servlet-name>
        <servlet-class>controller.AddSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>controller.AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriptions</servlet-name>
        <servlet-class>adminPanel.controller.DeleteSubscriptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSubscriptions</servlet-name>
        <servlet-class>adminPanel.controller.FetchSubscriptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogger</servlet-name>
        <servlet-class>controller.AdminLogger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchContactDetails</servlet-name>
        <servlet-class>adminPanel.controller.FetchContactDetails</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>FetchUserData</servlet-name>
        <servlet-class>adminPanel.controller.FetchUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchProjectDetails</servlet-name>
        <servlet-class>adminPanel.controller.FetchProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProjectDetails</servlet-name>
        <servlet-class>adminPanel.controller.EditProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectsServlet</servlet-name>
        <servlet-class>adminPanel.controller.DeleteProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectsServlet</servlet-name>
        <servlet-class>adminPanel.controller.AddProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayProjectsHome</servlet-name>
        <servlet-class>controller.displayProjectsHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrokerProjShow</servlet-name>
        <servlet-class>brokerPanel.controller.BrokerProjShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrokerProjEditS</servlet-name>
        <servlet-class>brokerPanel.controller.BrokerProjEditS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBuyerServlet</servlet-name>
        <servlet-class>adminPanel.controller.AddBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchBuyers</servlet-name>
        <servlet-class>controller.FetchBuyers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBuyerServlet</servlet-name>
        <servlet-class>adminPanel.controller.EditBuyerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuyerServlet</servlet-name>
        <servlet-class>adminPanel.controller.DeleteBuyerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegController</servlet-name>
        <url-pattern>/RegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubscription</servlet-name>
        <url-pattern>/AddSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriptions</servlet-name>
        <url-pattern>/DeleteSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSubscriptions</servlet-name>
        <url-pattern>/FetchSubscriptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogger</servlet-name>
        <url-pattern>/AdminLogger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchContactDetails</servlet-name>
        <url-pattern>/FetchContactDetails</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>FetchUserData</servlet-name>
        <url-pattern>/FetchUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchProjectDetails</servlet-name>
        <url-pattern>/FetchProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProjectDetails</servlet-name>
        <url-pattern>/EditProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectsServlet</servlet-name>
        <url-pattern>/DeleteProjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectsServlet</servlet-name>
        <url-pattern>/AddProjectsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayProjectsHome</servlet-name>
        <url-pattern>/displayProjectsHome</url-pattern>
    </servlet-mapping>
    <!--filter config and mapping-->
    <!--    
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>controller.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>-->
    <servlet-mapping>
        <servlet-name>BrokerProjShow</servlet-name>
        <url-pattern>/BrokerProjShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrokerProjEditS</servlet-name>
        <url-pattern>/BrokerProjEditS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBuyerServlet</servlet-name>
        <url-pattern>/AddBuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchBuyers</servlet-name>
        <url-pattern>/FetchBuyers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBuyerServlet</servlet-name>
        <url-pattern>/EditBuyerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuyerServlet</servlet-name>
        <url-pattern>/DeleteBuyerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>displayProjectsHome</welcome-file>
    </welcome-file-list>
</web-app>
