/* General Reset */
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
}
h2 {
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}
.logo {
    margin: 0;
    padding: 0;
    width: 11%;
}
.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.links:hover {
    cursor: pointer;
}

#signUp-btn, #signOut-btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#signUp-btn:hover, #signOut-btn:hover {
    background-color: #a8350e;
}

/* First Page */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 50px;
    background-image: url("./assets/images/young-couple-examining-blueprints-with-real-estate-agent-while-buying-new-home.svg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.text-section {
    color: white;
    font-size: 5em;
    font-weight: bold;
    z-index: 2;
}

.contact-form {
    text-align: center;
    background-color: #4a5a8a;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    z-index: 2;
}
.contact-form h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #4a5a8a;
}
input::placeholder {
    color: #4a5a8a;
}
.btn {
    background-color: #f76c3c;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
.btn:hover {
    background-color: #e65a2b;
}

/* Stable Container */
.stable-container {
    display: flex;
    margin: 2% 0 5% 0;
    justify-content: space-between;
    align-items: flex-start;
}

.side-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: auto;
    padding-left: 4%;
    text-align: center;
}

.side-header h2 {
    font-size: 28px;
    margin-bottom: 4%;
    color: #1a73e8;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

#img1 {
    transform: translateY(15%);
    margin: 0% 10%;
    width: 40%;
}

#img2 {
    transform: translateY(65%);
    width: 30%;
}

#img3 {
    transform: translateX(-150%);
    margin: -6% 15% auto 9%;
    width: 30%;
}

/* Why Choose Us */
.why-choose-us {
    padding: 50px 0;
    position: relative;
    text-align: center;
}

.why-choose-us h2 {
    margin-top: 4%;
    color: #1a73e8;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.why-choose-us .underline {
    width: 50px;
    height: 4px;
    background-color: #1a73e8;
    margin: 0 auto 30px;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.feature {
    width: 30%;
    position: relative;
    text-align: center;
}

.feature-content {
    position: relative;
    z-index: 1;
}

.feature .icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    z-index: 1;
}

.feature h3 {
    color: #1a73e8;
    font-size: 20px;
    margin-bottom: 10px;
}

.feature p {
    color: #666666;
    font-size: 14px;
}

.feature .background-shape {
    position: absolute;
    z-index: 0;
    width: 120px;
    height: 120px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
}

.gallery img {
    object-fit: cover;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.gallery .shape {
    position: absolute;
    z-index: 0;
}

.gallery-item {
    position: relative;
    margin: 5px;
}
#gallery-img1{
    transform: translatey(-40%);
    margin: 0;
}
#gallery-img2{
    transform: translatey(60%);
    margin: 0;
}


/* About Us */
.about-us {
    margin-top: 5px;
    padding: 30px 0;
    position: relative;
}

.about-us h2 {
    color: #1a73e8;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.about-us p {
    color: #666666;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}


#background-img2{
    width: 24%;

    position: absolute;
    transform: translateY(-80px);
    z-index: -1;
    top: 35%;
    left: 39%;
}
#background-img5{
    transform: translatex(3400%);
    z-index: 0;
}
/* Our Projects Section */
#projects {
    text-align: center;
    padding: 0;
}

#projects h2 {
    margin: 1% auto;
    color: #1a73e8;
    font-size: 28px;
}

#projects p {
    margin: 1.5% auto;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: 45%;
    border-radius: 8px;
}

.project button {
    margin-top: 10px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Happy Clients Section */
#clients {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 0%;
    background-color: #f5f5f5;
}

#clients h2 {
    margin: 1.1% auto;
    color: #1a73e8;
    font-size: 28px;
}

.client-container {
    display: flex; /* Use flexbox to align clients in a row */
    justify-content: flex-start; /* Align items to the left */
    gap: 20px; /* Space between each client */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    width: 100%; /* Ensure the container takes up full width */
}

.client {
    background: #fff;
    padding: 20px;
    width: 250px; /* Set a fixed width for each client */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.1);
    flex-shrink: 0; /* Prevent the client div from shrinking */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  


}
.client-container::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Edge */
}

.client img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
}

.client p {
    flex-grow: 1; /* Allow the paragraph to take available space */
    margin-bottom: 10px; /* Add some space at the bottom */
    text-align: center; /* Center the text inside the paragraph */
    font-size: 14px; /* Adjust font size if needed */
    overflow: hidden; /* Prevent text from overflowing */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    white-space: normal; /* Allow text to wrap within the paragraph */
}


/* Footer Styles */
/* Footer Styles */
footer {
    color: white;
    font-family: Arial, sans-serif;
}

/* Background image section with overlay text */
.footer-hero {
    position: relative;
    text-align: center;
}

.footer-background {
    width: 100%;
    height: auto;
    filter: brightness(0.5); /* Darken the image for better text visibility */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay-text h2 {
    font-size: 24px;
    margin: 0;
}

.learn-more-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Bottom Footer Section */
.footer-bottom {
    padding: 8px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% auto;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 21.5;
    font-size: 12px;
}

.footer-brand .brand-logo {
    height: 25px;
    align-items: center;
    width: auto;
    color: #efeff0;
    filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(180deg); /* Customize as needed */
}

/* Footer Styling */
footer {
    background-color: #222; /* Footer background color */
    padding: 0px;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Makes it responsive */
}

/* Footer Links */
.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #007bff; /* Link hover color */
}

/* Subscribe Section */
.subscribe {
    display: inline-block;
} 

.subscribe input[type="email"] {
    padding: 8px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    margin-left: -50%;
}

.subscribe button {
    padding: 8px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 10px; /* Space between icons */
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 3%;
    background-color: white;
    border-radius: 50%;
    color: #0c0c0c;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
    background-color: #efeff0;
    color: rgb(75, 23, 209);
}


/* Responsive Layout */
@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .text-section {
        font-size: 3em;
        text-align: center;
    }

    .contact-form {
        width: 80%;
        margin-top: 20px;
    }

    .stable-container {
        flex-direction: column;
        align-items: center;
    }

    .side-header {
        width: 90%;
        text-align: center;
        padding-left: 0;
    }

    .image-container {
        width: 90%;
        margin-top: 20px;
    }

    .project-container, .client-container {
        flex-direction: column;
        align-items: center;
    }

    .project, .client {
        width: 90%;
        margin-bottom: 20px;
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

/* Small Screen Devices (max-width: 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 40%;
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .text-section {
        font-size: 2.5em;
        text-align: center;
    }

    .contact-form {
        width: 80%;
        margin-top: 20px;
    }

    .stable-container {
        flex-direction: column;
        align-items: center;
    }

    .side-header {
        width: 90%;
        text-align: center;
        padding-left: 0;
    }

    .image-container {
        width: 90%;
        margin-top: 20px;
    }

    .project-container, .client-container {
        flex-direction: column;
        align-items: center;
    }

    .project, .client {
        width: 90%;
        margin-bottom: 20px;
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .subscribe input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .subscribe button {
        width: 100%;
    }

    .social-icons {
        justify-content: center;
    }
}